.content{
	border:1px solid #ccc;
	margin-left:20px;
	margin-top:7%;
}
.show-content{
	padding:0px 40px;
	padding-bottom:30px;
	margin-left:30px;
	margin-top:40px;
}
.title-header{
	margin-top:20px;
}
.holiday-manger{
	margin-top:20px;
}
.index-table td,.index-table th{
	text-align: center;
}
.index-table button {
	margin-left: 10px;
}
.add{
	width:;
}
.admin-tit h3{
	line-height:60px;
}
.admin-info{
	text-align: center;
}
.admin-info h3{
	font-weight: bold;
	font-size:16px;
}
.function li{
	line-height: 30px;
}
.error-info{
	text-align: center;
	color:red;
}
a:link,a:visited{text-decoration: none;} 
.list{border-bottom:solid 1px #316a91;margin:10px auto 0 auto;}
.list ul li{background-color:#467ca2; border:solid 1px #316a91; border-bottom:0;border-radius:2px;}
.list ul li a{padding-left: 10px;color: #fff; font-size:12px; display: block; font-weight:bold; height:36px;line-height: 36px;position: relative;
}
.list ul li ul{display: none;}
.list ul li ul li { border-left:0; border-right:0; background-color:#6196bb; border-color:#467ca2;}
.list ul li ul li ul{display: none;}
.list ul li ul li a{ padding-left:20px;}