body{
	background:#F7F6F5;
}
.main{
	width:50%;
	margin:8% auto;
}
.tip_title{
	color:#a94442!important;
	line-height: 60px;
	font-size: 36px;
	font-weight: bold;
	display: inline-block;
}
.s_r{
	line-height: 60px;
	margin-top: 20px;
}
.checkcode{
	width:54%;
	float:left;
}
.codebtn{
	width:40%;
	float:right;
	margin-right:2%;
	background: #39B3D7;
	color:#fff;
}
.submit{
	display: block;
	margin:30px auto;
	width:60%;
	height:36px;
	background: #21B416;
	color:#fff;
	border-radius: 6px;
}
.form-group{
	margin-top: 20px;
}
.error-info{
	text-align: center;
	color:red;
}
